* {
  font-family: "Roboto Condensed", sans-serif;
}

.posts-card {
  /* width: 80%;
  margin: auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
  text-align: center;
}

.post-card {
  box-shadow: rgba(99, 99, 99, 0.2) 1px 1px 1px 1px;
  max-width: 30rem;
  margin-bottom: 2rem;
}
